.wrapp {
  margin: 0 auto;
  padding: 20px;
}

.backBtn {
  padding: 10px;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: rgb(238, 216, 238);
  cursor: pointer;
  transition: background-color 0.3s;
}

.backBtn:focus {
  background-color: #6d025f;
}

.title {
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  color: rgb(101, 39, 90);
  font-size: 32px;
  font-weight: bold;
}

.movieInf {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.imgWrapp {
  flex-shrink: 0;
}

.img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.textWrapp {
  padding: 20px;
  height: 500px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(58, 2, 64, 0.1);
  flex-grow: 1;
}

.text {
  padding: 8px;
  margin-bottom: 8px;
}

.addTitle {
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  color: rgb(101, 39, 90);
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  margin-bottom: 10px;
  text-align: center;
  gap: 6px;
  justify-content: center;
}

.link {
  display: inline-block;
  padding: 5px 25px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  color: black;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:hover {
  color: rgb(252, 252, 252);
  background-color: rgba(235, 141, 229, 0.8);
}

.error {
  padding: 30px;
  font-size: 40px;
  color: brown;
  text-align: center;
}
